<body>
    <div class="container mt-5">
        <h1>Thông tin người dùng</h1>
        <ul class="list-group">
            <li class="list-group-item">Tài Khoản: <%= data.rows.username %></li>
            <li class="list-group-item">Tên: <%= data.rows.fullname %></li>
            <li class="list-group-item">Giới tính: <%= data.rows.sex %></li>
            <li class="list-group-item">Địa chỉ: <%= data.rows.address %></li>
            <li class="list-group-item">Email: <%= data.rows.email %></li>
            <li class="list-group-item">Quyền: <%= data.rows.status %></li>
        </ul>
    </div>

  
